body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 32px 128px;
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 24px;
}

.stats {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 8px 0px;
}


.stat {
    color: black;
    border: black solid 2px;
    border-radius: 8px;
    padding: 8px 0;
    padding-left: 16px;
    padding-right: 16px;
    background-color: salmon;
}

.game {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 24px 0;
    flex: auto;
    flex-wrap: wrap;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: auto;
    border: black solid 2px;
    border-radius: 16px;
    padding: 0;
    text-align: center;
    flex: 1;
}

#map {
    margin: 0;
    border-radius: 16px;
    width: 800px;
    height: fit-content;
    flex: 1 1 0;
}

button {
    background-color: rgb(29, 156, 97);
    color: black;
    font-weight: 900;
    font-size: 24px;
    border: black solid 2px;
    border-radius: 16px;
    flex: 0 0 auto;
}

button:hover {
    background-color: black;
    color: rgb(29, 156, 97);
    cursor: pointer;
}

button:active {
    color: lightgoldenrodyellow;
}

.panels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    flex: 1 1 0;
}

.panel {
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    background-color: lightgoldenrodyellow;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 1 0;
    
}

.energy {
    font-size: 24px;
    font-weight: 900;
}

.cost {
    font-style: italic;
}

.effects {
    color:rgb(29, 156, 97);
}

.panel img {
    border-radius: 8px;
    max-width: 192px;
}


.progress {
    font-size: 36px;
    justify-content: center;
    margin-top: 24px;
}
