body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 32px 128px;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 0;
}

.stats {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 8px 0px;
}


.stat {
    color: black;
    background-color: salmon;
    border: black solid 2px;
    border-radius: 8px;
    padding: 8px;
}

.game {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 24px 0;
}

.map {
    height: auto;
    border: black solid 2px;
    border-radius: 16px;
    background-color: honeydew;
    padding: 16px;
    text-align: center;
    flex: 1;
}

button {
    background-color: rgb(29, 156, 97);
    color: black;
    font-weight: 900;
    font-size: 24;
    border: black solid 2px;
    border-radius: 16px;
    flex: 0 0 auto;
}

button:hover {
    background-color: black;
    color: rgb(29, 156, 97);
    cursor: pointer;
}

button:active {
    color: lightgoldenrodyellow;
}

.panels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    flex: 1 1 0;
}

.panel {
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 1 0;

}

.energy {
    font-size: 24px;
    font-weight: 900;
}

.cost {
    font-style: italic;
}

.effects {
    color:rgb(29, 156, 97);
}

img {
    border-radius: 8px;
    width: 192px;
}


.progress {
    font-size: 36px;
    justify-content: center;
    margin-top: 24px;
}
