<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
							   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/style-game.css" />
		<link rel="icon" href="/Images/favicon.ico" type="image/x-icon"/>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
			<script src="/script.js" defer></script>
			<script src="/helper.js"></script>
			<title>Save the U.S. Clicker</title>
	</head>

	<body id="body">
		<h1>Save the U.S. Clicker</h1>
		<div class="profile-name">
			<img class= "profile-image" src="/Images/avatar-placeholder.png"></img>
			<h5><%= name %></h5>
		</div>
		<h2>Stats</h2>

		<div class="stats">
			<div class="stat">Date: <span id='seconds-counter'></span><span></span></div>
			<div class="stat">Budget: $<span></span></div>
			<div class="stat">Population: <span></span> people</div>
			<div class="stat">CO2 Level: <span></span>ppm</div>
			<div class="stat">Approval: <span></span>%</div>
			<div class="stat">Energy Produced: <span></span> MWh</div>
			<div class="stat">Required Energy: <span></span> MWh</div>
		</div>

		<!-- The Modal -->
		<div id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<h1>YOU LOSE</h1>
				<p>Your citizens have grown unhappy and called for your removal from office</p>
				<img src="/Images/Burning-City.jpg">
			</div>

		</div>

		<!--Icons: https://www.flaticon.com/authors/surang-->
		<div class="container">
			<button id="moneyclick">
				Campaign to Raise Money: $<span id="getmoney"></span>
			</button>
			<div class="game">
				<div class="row">
					<div class="col-sm-12 text-center">
						<img src="/Images/Florida.png" class="map center">
					</div>
					<div class="col-sm panels">
						<div class="container">
							<div id="events">
							</div>
							<div class="row">
								<div class="col-lg-4 panel" id="coal">
									<img src="/Images/coal.png">
									<div class="energy">
										Coal Plant
									</div>
									<div>
										Power generated: <span class="power"></span> MWh
									</div>
									<div class="cost">
										$<span></span> per MWh
									</div>
									<div class="effect">
										Increase in CO2
									</div>
									<div>

										<button class="getbutton1">
											Plants Owned: <span class="button1owned"></span>
										</button>
										<button class="deletebutton1">
											Delete Plant
										</button>
									</div>
								</div>
								<div class="col-lg-4 panel" id="gas">
									<img src="/Images/natural-gas.png">
									<div class="energy">
										Gas
									</div>
									<div>
										Power generated: <span class="power"></span> MWh
									</div>
									<div class="cost">
										$<span></span> per MWh
									</div>
									<div class="effect">
										Increase in CO2
									</div>
									<div>

										<button class="getbutton2">
											Plants Owned: <span class="button2owned"></span>
										</button>
										<button class="deletebutton2">
											Delete Plant
										</button>
									</div>
								</div>
								<div class="col-lg-4 panel" id="nuclear">
									<img src="/Images/nuclear.png">
									<div class="energy">
										Nuclear Power Plant
									</div>
									<div>
										Power generated: <span class="power"></span> MWh
									</div>
									<div class="cost">
										$<span></span> per MWh
									</div>

									<div>
										<button class="getbutton3">
											Plants Owned: <span class="button3owned"></span>
										</button>
										<button class="deletebutton3">
											Delete Plant
										</button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4 panel" id="geothermal">
									<img src="/Images/geothermal.png">
									<div class="energy">
										Geothermal
									</div>
									<div>
										Power generated: <span class="power"></span> MWh
									</div>
									<div class="cost">
										$<span></span> per MWh
									</div>
									<div class="effect">

									</div>
									<div>
										<button class="getbutton4">
											Plants Owned: <span class="button4owned"></span>
										</button>
										<button class="deletebutton4">
											Delete Plant
										</button>
									</div>
								</div>
								<div class="col-lg-4 panel" id="solar">
									<img src="/Images/solar.png">
									<div class="energy">
										Solar
									</div>
									<div>
										Power generated: <span class="power"></span> MWh
									</div>
									<div class="cost">
										$<span></span> per MWh
									</div>
									<div class="effect">

									</div>
									<div>
										<button class="getbutton5">
											Plants Owned: <span class="button5owned"></span>
										</button>
										<button class="deletebutton5">
											Delete Plant
										</button>
									</div>
								</div>

								<div class="col-lg-4 panel" id="wind">
									<img src="/Images/wind.png">
									<div class="energy">
										Wind Turbines
									</div>
									<div>
										Power generated: <span class="power"></span> MWh
									</div>
									<div class="cost">
										$<span></span> per MWh
									</div>
									<div>
										<button class="getbutton6">
											Plants Owned: <span class="button6owned"></span>
										</button>
										<button class="deletebutton6">
											Delete Plant
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</body>

</html>
