body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 32px 128px;
	display: flex;
	flex-direction: column;
	background-color:darkseagreen;
	gap: 16px;
}

h1 {
	text-align: center;
	font-size: 64px;
	margin: 0;
	margin-top: 8px;
}

h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 8px;
}

.profile-name{
	position: absolute;
	right: 5px;
	top: 5px;
}
.profile-image{
	width: 50px;
}

.stats {
	display: flex;
	gap: 16px;
	justify-content: center;
	margin: 8px 0px;
}


.stat,
.event {
	color: black;
	border: black solid 2px;
	border-radius: 8px;
	padding: 8px 0;
	padding-left: 16px;
	padding-right: 16px;
	background-color: salmon;
}

.game {
	display: flex;
	gap: 16px;
	justify-content: center;
	margin: 24px 0;
	flex: auto;
	flex-wrap: wrap;
}

.map {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: auto;
	border: black solid 2px;
	border-radius: 16px;
	padding: 0;
	text-align: center;
	flex: 1;
	margin-bottom: 24px;
	background-color: lightgoldenrodyellow;
	margin-left: auto;
	margin-right: auto;
}

button {
	background-color: rgb(29, 156, 97);
	color: black;
	font-weight: 900;
	font-size: 24px;
	border: black solid 2px;
	border-radius: 16px;
	margin: auto;
}

button:hover {
	background-color: black;
	color: rgb(29, 156, 97);
	cursor: pointer;
}

button:active {
	color: lightgoldenrodyellow;
}

#moneyclick {
	width: 100%;
}

.panels {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 32px;
	flex: 1 1 0;
}

.panel {
	display: flex;
	flex-direction: column;
	border: black solid 2px;
	padding: 16px;
	border-radius: 8px;
	gap: 8px;
	background-color: lightgoldenrodyellow;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	flex: 1 1 0;
	margin-top: 6px;
	margin-right: 6px;
}

.energy {
	font-size: 24px;
	font-weight: 900;
}

.cost {
	font-style: italic;
}

.effects {
	color:rgb(29, 156, 97);
}

.panel img {
	border-radius: 8px;
	max-height: 192px;
}

#description,
#instructions,
#features {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
	margin: 16px;
}

.feature {
	border: 2px solid #000;
	background-color: #8fbbbc;
	border-radius: 16px;
	padding: 8px
}

#login {
	margin-left: auto;
	border:  1px solid black;
	border-radius: 16px;
	padding: 8px;
	background-color: lightgoldenrodyellow;
}

#play {
	background-color: salmon;
	font-weight: 900;
	font-size: 72px;
	border-radius: 16px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding-left: 32px;
	padding-right: 32px;
}

#play a {
	color: black;
	text-decoration: none;
}

#home-content {
	font-family: monospace;
	display: flex;
	flex-direction: column;
	border: 4px solid #000;
	border-radius: 32px;
	background-color: lightgoldenrodyellow;
	font-size: 24px;
}

.event {
	background-color: #darkseagreen;
	flex: auto;
}

.events {
	display: flex;
	flex-wrap: nowrap;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	opacity: 0.95;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	text-align: center;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 70%; /* Could be more or less, depending on screen size */
}
